@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --background:#000000;
    --color-header:#f4f4f4;
    --color-text:#c3c3c3;
    --standout-color:#ff0065;
    --dark:#080808;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    scroll-behavior: smooth;
}

body{
    background-color: var(--background);
}
.fade{
overflow: hidden;
margin:auto;
display: flex;
align-items: center;
justify-content: center;
/* width: 100%; */
overflow: hidden;

}

.fade  div{
    width: 100%;
    height: 100vh;
    z-index: -100;
}
.fade div img{
    object-fit: contain;
    width: 100%;

}

.poster-img{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/carousels/carousel2.webp");
  height: 100vh;
}
/* navbar */

.container {
  max-width: 920px;
  margin: 20px auto;
  padding: 0 1rem;

}
.nav {
  width: 100%;
  height: 120px;
  overflow: hidden;
  transition: height .5s ease-in-out;
  position: fixed;
  z-index: 1000;
}
.nav img{
    width: 50%;
}
.nav-brand, .nav-link, .nav-collapse {
  display: inline-block;
}
.nav-brand, .nav-link {
  color:#ffffff ;
  text-decoration: none;
  line-height: 55px;
  padding: 0 1rem;
  opacity: 0.8;
  cursor: pointer;
}
.nav-brand {
  font-size: 1.25rem;
}
.nav-link {
  font-size: 1rem;
}
.nav-collapse {
  float: right;
}
.toggler {
  float: right;
  width: 40px;
  height: 18px;
  margin: 18.5px 0;
  background: none;
  border: none;
  outline: none;
  display: none;
  opacity: 0.8;
}
.toggler span {
  display: block;
  width: 90%;
  height: 2px;
  background:#ffffff ;
  position: relative;
  transition: .25s ease-in-out;
}
.toggler span:nth-child(1) {
  top: -7.5px;
}
.toggler span:nth-child(2) {
  top: 0;
}
.toggler span:nth-child(3) {
  top: 7.5px;
}

.nav-brand:hover, .nav-link:hover, .toggler:hover, 
.nav-brand:focus, .nav-link:focus, .toggler:focus {
  opacity: 1;
}

.nav.open .toggler span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}
.nav.open .toggler span:nth-child(2) {
  transform: translateX(-100%);
  width: 0;
  opacity: 0;
}
.nav.open .toggler span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}
.nav.open {
  height: 54vh;
}


 nav.scrolled {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}

@media (max-width: 767px) {
  .nav-collapse, .nav-link {
    float: none;
    display: block;
    
  }
  
  .nav-link {
    text-align: center;
  
   
  }
  .toggler {
    display: block;
  }
}
.no-display{
  display: none;
}
.donot-display{
  display: none;
}
/*end of navbar*/

/*about*/
.about{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5rem;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
}
.about img{
    width: 100%;
    border-radius: 10px;
}
.about .me{
    background-color: var(--dark);
    display: inline;
    padding: 12px 40px;
    border-radius: 5px;
}
.about .name{
    color: var(--color-header);
    font-size: 40px;
    margin: 30px 0;
}

/* awards*/
.awards{
    margin-bottom: 150px;
}
.awards-title{
    color: var(--color-header);
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}
.award-images{
    width: 70%;
    margin:auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
}
.award-images img{
    width:50% ;
}
.award-images2{
    width: 35%;
    margin:auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.award-images2 img{
    width:100% ;
}
/* services*/
.services{
    margin-bottom: 150px;
}
.service-title{
    color: var(--color-header);
    font-size: 40px;
    text-align: center;
}
.services .service-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem;
    width: 70%;
    align-items: center;
    margin: 70px auto;
}
.services .service-inner div p{
    color: var(--color-header);
    font-size: 30px;
    margin: 20px 0;

}
.services img{
    width: 100%;
    border-radius: 10px;
}
.services a{
    display: inline-block;
    text-decoration: none;
    background-color: var(--standout-color);
    color: var(--background);
    padding: 10px 30px;
    border-radius: 5px;
}
.services a:hover{
    background-color: var(--color-header);
    color: var(--standout-color);
}

/*contacts*/
.contacts{
    width: 70%;
    margin:0 auto 150px auto;
    background-color: var(--dark);
    padding: 50px;
    border-radius: 10px;
    text-align: center;

}
.cta{
    color: var(--color-header);
    font-size: 30px;
    margin-bottom: 80px;
}
.socials{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.social-title{
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--color-header);

}
.socials a i{
    color: var(--standout-color);
    text-decoration: none;
    margin-right: 10px;
}
.socials a i:hover{
    color: var(--color-text);
}

/* media queries*/
@media screen and (max-width:1240px) {
  .about, .award-images,   .services .service-inner, .contacts{
    width: 80%;
  }
  .award-images2{
    width: 40%;
  }
}
@media screen and (max-width:1120px) {
  .about, .award-images,   .services .service-inner, .contacts{
    width: 90%;
  }
  .award-images2{
    width: 45%;
  }
}
@media screen and (max-width:1000px) {
.about{
  grid-template-columns: 1fr;
  width: 60%;
}
}
@media screen and (max-width:900px) {
.fade{
  display: none;
}  
donot-display{
  display: block !important;
} 
}
@media screen and (max-width:750px) {
  .services .service-inner{
    grid-template-columns: 1fr;
    width: 60%;
  }
  }
  @media screen and (max-width:700px) {
    .socials{
      grid-template-columns: 1fr;
      grid-gap: 5rem;
    }
    .about, .services .service-inner{
      width: 80%;
    }
    }
    @media screen and (max-width:500px) {
      .about, .services .service-inner{
        width: 90%;
      }
      .award-images{
       grid-template-columns: repeat(2, 1fr);
       width: 70%;
      }
      .awards  .award-images2 img, .awards  .award-images img{
        width: 90%;
      }
      .award-images2{
        width: 70%;
      }
 }
 @media screen and (max-width:837px) {
  .no-display{
    display: inline-block;
  }
  .display-no{
    display: none;
  }
  .nav{
    height: 13vh;
  }
}